/*LOGIN PAGE*/
body {
	background-color: #050C41;
}

.login-form {
    max-width: 460px;
    background-color: #040825;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 24px 20px -24px rgba(0,191,205,0.3);
    border-radius: 3px;
}

section.login-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}
.login-form .icon-img {
    float: left;
}

.login-form .icon-img img {
    max-width: 100%;
}

.login-form .icon-img {
    width: 70px;
}

.login-form .icon-details {
    float: left;
    align-self: center;
    justify-content: center;
    padding-left: 20px;
}

.login-form .icon-details h5 {
    color: #fff;
    font-size: 25px;
}

.login-form .icon-details span {
    color: rgba(255,255,255,0.6);
    margin-top: 5px;
    display: block;
}

.login-form .form-titles {
    display: flex;
    margin-bottom: 10px;
}

.login-form form label {
    float: left;
    width: 25%;
    color: #fff;
    align-self: center;
    justify-content: center;
}

.login-form form .input-field {
    float: left;
    width: 75%;
    position: relative;
}

.login-form form .form-group {
    display: flex;
    margin-bottom: 30px;
}

.login-form form .input-field input,
.login-form form .input-field select {
    border-radius: 0;
    background-color: #151833;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
}

.login-form form .input-field input:focus, 
.login-form form .input-field input:active,
.login-form form .input-field select:focus, 
.login-form form .input-field select:active {
    box-shadow: none;
    border-color: #00D2F8;
}
.login-form form .input-field .icons {
    position: absolute;
    top: 0;
    background-color: rgba(49,58,124,0.5);
    right: 0;
    color: #BCBCBC;
    font-size: 18px;
    padding: 4px 14px;
    border-left: 1px solid #BCBCBC;
}
span.error-message {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 13px;
    color: red;
}
.submit-btns {
    text-align: center;
}

.btn_submit {
    margin: 0 auto;
    padding: 6px 30px;
    color: #CCCCCC;
    letter-spacing: 1px;
    font-weight: 600;
    border: 2px solid #CCCCCC;
    background-color: transparent;
    border-radius: 25px;
}
.another-links {
    text-align: center;
}

.another-links li {
    display: inline-block;
    margin-right: 8px;
}

.another-links li a {
    color: rgba(255,255,255,0.6);
}

.another-links li a:hover, .another-links li a:active, .another-links li a:focus {
    color: #00BFD3;
}

.another-links span {
    margin: 15px 0 5px 0;
    display: block;
    color: #fff;
}
.another-btns {
    margin-top: 15px;
}
.btn_submit.btn_blue {
    background-color: #232A5E;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
.btn_submit.btn_blue:hover, .btn_submit.btn_blue:active, .btn_submit.btn_blue:focus {
    background-color: transparent;
}
.btn_submit:hover {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
.another-links span a {
    font-weight: 800;
    text-decoration: underline;
    color: #00D2F8;
    letter-spacing: 1px;
    font-size: 16px;
}
/*END LOGIN PAGE*/


/*REGISTER PAGE*/
.register-screen .login-form {
    max-width: 550px;
}
.register-screen .login-form .icon-img {
    width: 110px;
}
.login-screen.register-screen {
    transform: inherit;
    top: 0;
    position: relative;
    margin: 30px 0;
}
.register-screen form .input-field .country-code {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}
.register-screen form .input-field .mob_number {
    padding-left: 34%;
}

/*Radio btns Design*/

.radios-design .list {
  flex: 0 0 20rem;
}

.radios-design .list__item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.radios-design .list__item:hover > .label {
  color: #009688;
}
.radios-design .list__item:hover > .label:before {
  border: 0.5rem solid #009688;
  margin-right: 1.2rem;
}

.radios-design .radio-btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.radios-design .radio-btn:checked + .label {
  color: #00BFD3;
}
.radios-design .radio-btn:checked + .label::before {
  margin-right: 1.2rem;
  border: 0.5rem solid #00BFD3;
  background: #fff;
}

.radios-design .label {
  display: flex;
  align-items: center;
  padding:  0;
  width: inherit;
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
  margin: 0;
}

.radios-design .label::before {
  display: inline-block;
  content: "";
  height: 2.125rem;
  width: 2.125rem;
  margin-right: 0.625rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  transition: all 0.25s linear;
}

/* CHECKBOX DESIGN*/
.custom-checkbox-design .checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.custom-checkbox-design .checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.custom-checkbox-design .radio .cr {
    border-radius: 50%;
}

.custom-checkbox-design .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.custom-checkbox-design .radio .cr .cr-icon {
    margin-left: 0.04em;
}

.custom-checkbox-design .checkbox label input[type="checkbox"] {
    display: none;
}

.custom-checkbox-design .checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.custom-checkbox-design .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.form-group.custom-checkbox-design label {
    width: 100%;
    padding: 0;
    font-size: 13px;
}
.login-form form .form-group.custom-checkbox-design {
    margin-bottom: 0;
}
.login-form form .form-group.custom-checkbox-design a {
    font-weight: 700;
    color: #00BED3;
    text-decoration: underline;
}


/*END REGISTER PAGE*/